<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log In</title>
    </head>

    <body>

        <form action="/users/userLogin" method="post">
            <label for="username">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>
