<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage</title>
</head>

<body>
    <p>BarterDB Home</p>

    <a href="/users/login">login</a>
    <a href="/users/signUp">signUp</a>

</body>
</html>
